@keyframes Rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Loader {
  position: absolute;
  min-width: 132px;
  min-height: 132px;
  max-width: 132px;
  max-height: 132px;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.LoaderCircle {
  position: absolute;
  width: 100%;
  animation: Rotation 2s linear infinite forwards;
}

.LoaderBg {
  position: absolute;
  width: 92px;
  opacity: 0.1;
}
