.FormNotice {
  border: 1px solid var(--red-500);
  border-radius: 0.5rem;
  background-color: var(--gray-700);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.FormNotice p {
  color: var(--white);
  font-style: italic;
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0;
}
