.Navbar__mobile-logo {
  display: block;
}

.Navbar__logo {
  display: none;
}

@media screen and (min-width: 1024px) {
  .Navbar__mobile-logo {
    display: none;
  }

  .Navbar__logo {
    display: block;
  }
}

.Navbar__user-data {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.Navbar__user-data h5 {
  color: var(--white);
  text-transform: capitalize;
}

.Navbar__auth-buttons {
  display: flex;
  column-gap: 1rem;
}
